$first: #ec9a99;
$second: #e86644;
$third: #90d1d3;
$fourth: #f6c83a;
$fifth: #f48d1f;
$six: #3a9666;
$light: white;

$vectorLabel: 'vector';
$paintLabel: 'paint';
$photoLabel: 'photo';
$threedLabel: 'threed';
$aniLabel: 'ani';

$headerFont: 'Neucha', cursive;
$titleFont: 'Bebas Neue', cursive;
$textFont: 'Capriola', sans-serif;