.title{
    padding: 5px;
    background: url('../images/shapes.gif') center no-repeat;

    h1{
        font-family: $headerFont;
        text-align: center;
        text-shadow: 2px 2px white;
    }
}